body {
    background: #222222;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    color: #f3f3f3;
    font-family: 'Helvetica Neue', sans-serif;
    
}

.flex-item {
    margin: 2em;
}

.game {
    position: relative;
    width: 1024px;
    height: 800px;
    display: none;
}

.game-layer {
    position: absolute;
    left: 0;
    top: 0;
}

#history_layer {
    background: #111;
}

label {
    display: block;
    padding: 30px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}

.btn {
    border: 3px solid white;
    background: transparent;
    padding: 10px 40px;
    font-size: 1.5em;
    color: white;
    width: 100%;
    display: block;
    margin: 4em 0;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    cursor: pointer;
}

.btn:hover, .btn:active {
    background: mediumvioletred;
    border-color: mediumvioletred;
    color: black;
}

input {
    display: block;
    width: 100%;
}

.value {
    font-size: 5em;
    text-align: right;
    position: absolute;
    width: 300px;
    left: -330px;
    top: 10px;
    font-weight: bold;
}
